# HBASE
We use the *HappyBase* lib: https://happybase.readthedocs.io/en/latest/installation.html

In [1]:
! pip install happybase

Collecting happybase
  Downloading happybase-1.2.0.tar.gz (40 kB)
     |████████████████████████████████| 40 kB 5.0 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from happybase) (1.15.0)
Collecting thriftpy2>=0.4
  Downloading thriftpy2-0.4.14.tar.gz (361 kB)
     |████████████████████████████████| 361 kB 42.7 MB/s
Collecting ply<4.0,>=3.4
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 4.4 MB/s
Building wheels for collected packages: happybase, thriftpy2
  Building wheel for happybase (setup.py) ... done
  Created wheel for happybase: filename=happybase-1.2.0-py2.py3-none-any.whl size=26623 sha256=7b85bd2915854dcde290246033a033c35985c0f03d17ca38c5d8c22d9d318d2f
  Stored in directory: /root/.cache/pip/wheels/66/63/48/437f79a3724a4a529830f87d766a7d34228d623e845de2c321
  Building wheel for thriftpy2 (setup.py) ... done
  Created wheel for thriftpy2: filename=thriftpy2-0.4.14-cp37-cp37m-linux_x86_64.whl size=944435 sha256=e40d9b6c86eac27738d10c5be59f17187d58655678b2203051b0f5780990e32b
  Stored in directory: /root/.cache/pip/wheels/2a/f5/49/9c0d851aa64b58db72883cf9393cc824d536bdf13f5c83cff4
Successfully built happybase thriftpy2
Installing collected packages: ply, thriftpy2, happybase
Successfully installed happybase-1.2.0 ply-3.11 thriftpy2-0.4.14

In [2]:
# imports
import happybase as happy

In [57]:
# try to connect
#server="ec2-54-155-223-96.eu-west-1.compute.amazonaws.com" #need to change this for every lab-session
server = "ec2-34-244-158-251.eu-west-1.compute.amazonaws.com"
connection = happy.Connection(server)

In [5]:
print(connection.tables())

[]

In [ ]:
#connect to a table
table = connection.table('mytable')

In [ ]:
#see column families
table.families()

{b'cf': {'block_cache_enabled': False,
  'bloom_filter_nb_hashes': 0,
  'bloom_filter_type': b'NONE',
  'bloom_filter_vector_size': 0,
  'compression': b'NONE',
  'in_memory': False,
  'max_versions': 3,
  'name': b'cf:',
  'time_to_live': 2147483647}}

In [ ]:
#read table
res = table.scan()

In [ ]:
for key,row in res:
    print(key,row)

# Ex 1
Employee data in HBASE.
* create a new table to hold the employee data -> use a distinct name, like ``user_id_employees``
* How would you create the column families?
* read data from ``employees.csv`` and put it into the table
* use batch-processing to enter more than one entry per transaction
* alter some entries of the table with ``timestamps``
* perform some sample scans for the latest entries

https://happybase.readthedocs.io/en/latest/

In [12]:
table = connection.create_table('342567_employees', {"second":dict(), "main":dict()})

In [58]:
table = connection.table('342567_employees')

2: Es müssten neue Daten mit dem jeweiligen Column name als Key erstellen

In [24]:
table.families()

{b'main': {'block_cache_enabled': False,
  'bloom_filter_nb_hashes': 0,
  'bloom_filter_type': b'NONE',
  'bloom_filter_vector_size': 0,
  'compression': b'NONE',
  'in_memory': False,
  'max_versions': 3,
  'name': b'main:',
  'time_to_live': 2147483647},
 b'second': {'block_cache_enabled': False,
  'bloom_filter_nb_hashes': 0,
  'bloom_filter_type': b'NONE',
  'bloom_filter_vector_size': 0,
  'compression': b'NONE',
  'in_memory': False,
  'max_versions': 3,
  'name': b'second:',
  'time_to_live': 2147483647}}

In [34]:
table.regions()

[{'end_key': b'',
  'id': 1651585014730,
  'name': b'342567_employees,,1651585014730.8e251846873ea5112bcfe3e35ee57fff.',
  'port': 16020,
  'server_name': b'ip-172-31-46-254.eu-west-1.compute.internal',
  'start_key': b'',
  'version': 1}]

In [41]:
table.put('row1', {b'main:family': 'example_name'})

3. CSV Datei wurde nirgendswo gefunden...

4.

In [59]:
b = table.batch()

In [60]:
# manipulate
# create new column
b.put(b'row1', {b'main:family2': 'new_value'})
# new entry
b.put(b'row2', {b'main:family': 'value'})
# ...

# now update
b.send()

# or use with table.batch() -> than no send()

In [61]:
list(table.scan())

[(b'row1', {b'main:family': b'example_name', b'main:family2': b'new_value'}),
 (b'row2', {b'main:family': b'value'})]

5.

In [65]:
with table.batch(timestamp=1327658) as b:
    b.put(b'row1', {b'main:family3': 'new_value2'})
    b.delete(b'row2')

6.

In [66]:
list(table.scan())

[(b'row1',
  {b'main:family': b'example_name',
   b'main:family2': b'new_value',
   b'main:family3': b'new_value2'}),
 (b'row2', {b'main:family': b'value'})]

In [67]:
list(table.scan(timestamp=1327658))

[]